*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;  
}

header {
    background: #222123;
    color: white;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}    

.container {
    width: 90%;
    margin: 0 auto;
    /* padding: 20px; */
    display: flex;
    align-self: center;
    justify-content: space-between;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-weight: 400;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.hero {
    height: 400px;
    width: 100%;
    background: url(images/cooking-background-food-concept-space-text-cutting-board-fresh-tomato-basil-garlic-seasonings-wooden-rustic-closeup-top-155915623.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    padding: 140px 0;
    margin-bottom: 20px;

}

.hero h2 {
    font-size: 36px;
    margin-bottom: 10px;
}
.hero p {
    font-size: 20px;
    margin-bottom: 10px;
}

.search-bar {
    max-width: 550px;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar input {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}
.search-bar button {
    padding: 10px 20px;
    outline: none;
    border: 0;
    border-radius: 0 5px 5px 0;
    font-size: 1rem;
    background: rgb(239, 24, 24);
    color: white;
    cursor: pointer;
}

/* Featured Recipes Section */

.recipies{
    padding: 50px 0;
}

.recipies h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}

.recipe-section{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 10px;

}
.recipe-card {
    background: white;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #b3b1b1;
    text-align: center;

}  
.recipe-card img{
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.recipe-card h2 {
    font-size: 22px;
    padding: 20px;
}
.recipe-card p {
    font-size: 18px;
    padding: 20px;
}
.recipe-card a {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    background: rgb(68, 66, 66);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.recipe-card a:hover {
    background: rgb(239, 24, 24);
}

footer {
    background: #222123;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}
